h2, h3{
    margin-top: 7px;
}

button{
    background-color: #0C403D;
    font-family:'Barlow', sans-serif; 
    font-size: 20px;
    color: #EDEDED;
    padding: 1% 6% 1% 6%;
    margin: 2px;
}
button:hover{
    padding: 2% 7% 2% 7%;
}

input[type=submit]{
    background-color: #0C403D;
    font-family:'Barlow', sans-serif; 
    font-size: 18px;
    color: #EDEDED;
    padding: 1% 6% 1% 6%;
}

label{
    margin: 2px 0 2px 0;
    font-size: 22px;
}

.azienda{
    font-style: italic;
}

form{
    margin: 6px;
}

td img{
    margin: 10px;
    width: 180px;
    clip-path: circle();
}