h2,
h3 {
    margin-top: 7px;
}

button {
    background-color: #0C403D;
    font-family: 'Barlow', sans-serif;
    font-size: 20px;
    color: #EDEDED;
    padding: 1% 6% 1% 6%;
    margin: 2px;
}

button:hover {
    padding: 2% 7% 2% 7%;
}

input[type=submit] {
    background-color: #0C403D;
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
    color: #EDEDED;
    padding: 1% 6% 1% 6%;
    text-align: center;
}

label {
    margin: 2px 0 2px 0;
    font-size: 22px;
    margin-left: 100px;
}

p {
    font-size: 20px;
}

.quantity-input {
    width: 50%;
    margin-left: 120px;
}

.azienda {
    font-style: italic;
}

form {
    margin: 6px;
}

td img {
    width: 120%;
    margin-top: 5px;
    clip-path: circle();
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer {
    flex: 0 0 50px;
    /*or just height:50px;*/
    margin-top: auto;
}

.container-product {
    margin-left: 20px;
    margin-right: 20px;
}

.salva {
    left: 0;
}