
body{
    background-color: #FAFAFA;
}

section{
    background-color: #FAFAFA;
    margin: 0 3% 0 3%;
}

.fotoprofilo{
    width: 150px;
    clip-path: circle();
}

article div{
    background-color:  #FAFAFA;
}


button{
    background-color: #0C403D;
    font-family:'Barlow', sans-serif; 
    font-size: 20px;
    color: #EDEDED;
    padding: 1% 6% 1% 6%;
    margin: 2px;
}
button:hover{
    padding: 2% 7% 2% 7%;
}

input.input-box, textarea {
    width: 100%;
    padding: 8px 15px;
    margin: 8px 0;
    display: inline-block;
    font-family: 'Questrial', sans-serif;
    font-size: 20px;
    background-color: #FAFAFA;
    outline: 0;
  border-width: 0 0 3px;
  border-color:#8DC7A3;
  }

.registrazione{
    width: 23%;
    font-size: 18px;
    background-color:#8DC7A3 ;
    border-radius: 25px;
    padding: 3px 0 5px 8px;
    margin-bottom: 0%;
}
h4{
    width: 23%;
    font-size: 18px;
    background-color:#8DC7A3 ;
    border-radius: 25px;
    padding: 3px 0 5px 8px;
    margin-bottom: 0%;
}

label{
    margin-bottom: 0%;
    font-family: 'Barlow', sans-serif;
}

.form-label{
    margin: 0;
}

input[type=submit]{
    font-family: 'Barlow', sans-serif;
    border-radius: 7px;
    font-size: 23px;
    padding: 2% 6% 2% 6%;
    margin: 2px;
}

.tipocliente label{
    font-family: 'Questrial', sans-serif;
    font-size: 23px;
    padding-left: 5px;
}