footer {
    position: relative;
    width: 100%;
    bottom: 0;
    background-color: #0C403D;
    font-size: 20px !important;
}

footer img {
    width: 30px;
}

p {
    font-size: 18px !important;
}

a {
    font-size: 18px !important;
}