nav{
    background-color: #FFA416;
}

h1{
    font-family: 'Barlow', sans-serif;
    font-size: 40px;
    color: #0C403D;
}
h2{
    font-family: 'Barlow', sans-serif;
    font-size: 30px;
}
h3{
    font-family: 'Questrial', sans-serif;
    font-size: 15px;
}
h4{
    font-size: 10px;
}

p{
    font-family: 'Questrial', sans-serif;
    font-size: 23px;
}

.input[type=text]{
    font-family: 'Questrial', sans-serif;
    font-size: 20px;
}

button{
    background-color: #0C403D;
    font-family:'Barlow', sans-serif; 
    font-size: 20px;
    color: #EDEDED;
    padding: 3% 10% 3% 10%;
}
button:hover{
    padding: 4% 11% 4% 11%;
}

table{
    background-color: #FAFAFA;
}
td, th {
    border: none;
}


.freccia{
    width: 50px;
}

#offcanvas {
    width: 70%;
    height: 60%;
}

nav>div>div>img {
    width: 70px;
    clip-path: circle();
}

#offcanvas>div>ul>li:last-of-type {
    background: rgb(221, 74, 74);
}

.item {
    position: relative;
    padding-top: 20px;
    display: inline-block;
}
header img{
    width: 50px;
}
header img:hover{
    cursor: pointer;
}
.notify-badge {
    position: absolute;
    right: -5px;
    top: 10px;
    background: rgb(179, 57, 57);
    text-align: center;
    border-radius: 10px;
    color: white;
    padding: 5px 10px;
    font-size: 10px;
}

.shop-cart-badge {
    position: relative;
    background: rgb(179, 57, 57);
    text-align: center;
    border-radius: 10px;
    color: white;
    padding: 5px 10px;
    right: 70px;
    font-size: 10px;
}
@media screen and (max-width: 300px) {
    header img{
        width:50px;
    }
    h1{
        font-size: 20px;
    }
}