#offcanvas {
    width: 70%;
    height: 60%;
}

#offcanvas>img {
    border-radius: 100px;
}

#offcanvas>div>ul>li:last-of-type {
    background: rgb(221, 74, 74);
}

.item {
    position: relative;
    padding-top: 20px;
    display: inline-block;
}
header img{
    width: 60px;
}
header img:hover{
    cursor: pointer;
}
.notify-badge {
    position: absolute;
    right: -5px;
    top: 10px;
    background: rgb(179, 57, 57);
    text-align: center;
    border-radius: 10px;
    color: white;
    padding: 5px 10px;
    font-size: 10px;
}

.shop-cart-badge {
    position: relative;
    background: rgb(179, 57, 57);
    text-align: center;
    border-radius: 10px;
    color: white;
    padding: 5px 10px;
    right: 70px;
    font-size: 10px;
}
@media screen and (max-width: 300px) {
    header img{
        width:50px;
    }
}