nav{
    background-color: #FFA416;
}

.zucca img {
    width: 170px;
    margin-bottom: 10px;
    clip-path: circle();
}



body{
    background-color: #FAFAFA;
}
article{
    margin: 0 3% 0 3%;
}
h1{
    font-family: 'Barlow', sans-serif;
    font-size: 40px;
    color: #0C403D;
}
h2{
    margin-top: 10px;
    font-family: 'Barlow', sans-serif;
    font-size: 30px;
}
h3{
    font-family: 'Questrial', sans-serif;
    font-size: 15px;
    padding: 10px 0 3px 0;
}
h4{
    font-family: 'Questrial', sans-serif;
    font-size: 10px;
}

p, option, select{
    font-family: 'Questrial', sans-serif;
    font-size: 21px;
}

.input[type=text]{
    font-family: 'Questrial', sans-serif;
    font-size: 20px;
}

button{
    background-color: #0C403D;
    font-family:'Barlow', sans-serif; 
    font-size: 20px;
    color: #EDEDED;
    padding: 1% 6% 1% 6%;
    margin: 2px;
}
button:hover{
    padding: 2% 7% 2% 7%;
}

input[type=submit]{
    border-radius: 7px;
    background-color: #0C403D;
    font-family:'Barlow', sans-serif; 
    font-size: 20px;
    color: #EDEDED;
    padding: 1% 6% 1% 6%;
    margin: 2px;
}

section{

    margin: 0 3% 0 3%;
}

table{
    background-color: #FAFAFA;
}
td, th {
    margin: 10px;
    border: none;
}

label{
    font-family: 'Barlow', sans-serif;
    font-size: 25px;
}
.freccia{
    width: 50px;
}

#offcanvas {
    width: 70%;
    height: 60%;
}

nav>div>div>img {
    width: 70px;
    clip-path: circle();
}

#offcanvas>div>ul>li:last-of-type {
    background: rgb(221, 74, 74);
}

.item {
    position: relative;
    padding-top: 20px;
    display: inline-block;
}
header img{
    width: 50px;
}
header img:hover{
    cursor: pointer;
}
.notify-badge {
    position: absolute;
    right: -5px;
    top: 10px;
    background: rgb(179, 57, 57);
    text-align: center;
    border-radius: 10px;
    color: white;
    padding: 5px 10px;
    font-size: 10px;
}

.shop-cart-badge {
    position: relative;
    background: rgb(179, 57, 57);
    text-align: center;
    border-radius: 10px;
    color: white;
    padding: 5px 10px;
    right: 70px;
    font-size: 10px;
}
@media screen and (max-width: 300px) {
    header img{
        width:50px;
    }
    h1{
        font-size: 20px;
    }
}