.img-container {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
}

.col-sm {
    padding-left: 0px;
    padding-right: 0px;
}
div>img:hover{
    cursor:pointer;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer {
    flex: 0 0 50px;
    margin-top: auto;
}