html,
body {
    margin: 0;
    height: 100%;
    width: 100%;
}

div>div{
    padding: 0;
}

div>div>div{
    background-image: url("./icons/campodizucche.jpg");
    background-size: cover;
    text-align: center;
    height: 80%;
    

}

.image img{
    opacity: 0.;
}

.image img:hover{
   opacity: 1;
}
.prodotti{
    position:absolute;
    width:100%;
    color:white;
    line-height:200px;
    margin:0;
    top: 27%;
    font-size: 80px;

}

.agricoltori{
    position:absolute;
    width:100%;
    color:white;
    line-height:200px;
    margin:0;
    top: 95%;
    font-size: 80px;
}



@media screen and (max-width: 300px) {
   h1{
       font-size: 20px;
   }
}


footer {
    position: relative;
    width: 100%;
    background-color: #0C403D;
    font-size: 20px;
    bottom: 0;
}

footer img {
    width: 40px;
}

section img {
    width: 150px;
    height: 150px;
}

section>h3 {
    font-weight: bold;
}

section>article {
    background-color: rgb(196, 196, 196);
}

article img {
    width: 100px;
}

article button {
    background-color: #D9AF5D;
}

article textarea {
    resize: none;
}

article button a {
    font-weight: bold;
}

body>main>div>div>div>img:nth-child(1) {
    right: 0;
}