html,
body {
    margin: 0;
    height: 100%;
    width: 100%;
}

header {
    background-color: #F5982B;
}

header img {
    width: 60px;
}

footer {
    background-color: rgba(0, 0, 0, 0.69);
    font-size: 20px;
    bottom: 0;
}

footer img {
    width: 40px;
}

section img {
    width: 150px;
    height: 150px;
}

section>h3 {
    font-weight: bold;
}

section>article {
    background-color: rgb(196, 196, 196);
}

article img {
    width: 100px;
}

article button {
    background-color: #D9AF5D;
}

article textarea {
    resize: none;
}

article button a {
    font-weight: bold;
}

body>main>div>div>div>img:nth-child(1) {
    right: 0;
}


/*da qui in poi aggiungo*/

img {
    width: 200px;
    heigth: 200px;
}

body>main>div>div>div>div>h2 {
    margin-bottom: 0px;
}

body>main>div>div>div>div>p {
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: 15px;
    font-family: serif;
    font-weight: bold;
}

body>main>div>div>div>p {
    font-size: 15px;
    font-family: serif;
    font-weight: bold;
}

body>main>div>div>div>div>a {
    font-size: 17px;
    font-family: serif;
}

body>main>div>div>div>div>button.btn {
    background-color: #D9AF5D;
    border-color: #D9AF5D;
}

body>main>div>div>div>div>button.btn:hover {
    background-color: #D9AF5D;
    border-color: #D9AF5D;
}

body>main>div>div>div>div {
    margin-bottom: 5px;
}

body>main>div>div>div>div.container {
    width: 68%;
}

form {
    width: 300px;
    margin: 0 auto;
    text-align: center;
}

form #input-wrap {
    margin: 0px;
    padding: 0px;
}

input#number {
    text-align: center;
    border: none;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin: 0px;
    width: 40px;
    height: 40px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

body>main>nav>div>div>a>img {
    width: 10%;
}