
/*da qui in poi aggiungo*/

.aggiungi-al-carrello {
    background-color: #D9AF5D;
    border-color: #D9AF5D;
}

.aggiungi-al-carrello:hover {
    background-color: #D9AF5D;
    border-color: #D9AF5D;
}