.toast{
    padding-left: 0px;
    padding-right: 0px;
   position:absolute;
    display: inline-block;
    top:40px;
    left: 8%;
}

.toast>.toast-header{
     background-color:#000000;
}

.toast-body{
    background-color:#2f2e2e
}

.toast-header>.btn-close {
    color: #fff;
    background-color:#ffffff;  
    opacity: 1;
}