.toast{
    display:inline;
    top: 40px;
    position:fixed;
    z-index:100;
    width: 80%;
    
    left: 50%;
    transform: translateX(-50%);
}
.toast>*{
    border: 2px solid orange;
    font-weight: bold;  
    font-size: 15px;
}

.toast>.toast-header{
     background-color:lightcoral;
}

.toast-body{
    background-color:lightsalmon;
}

.toast-header>.btn-close {
    color: rgb(0, 0, 0);
    opacity: 1;
}