div>img{
    color: black;
    width:6%;
}

li{
    border-bottom: 0 0 1px 0;
}

#freccia{
    width: 60px;
}
h2{
    margin-bottom: 2px;
    font-family: 'Barlow', sans-serif;
    font-size: 19px;
}

p{
    margin-bottom: 3px;
    font-size: 22px;
}