div>img{
    color: black;
}

li{
    border-bottom: 0 0 1px 0;
}

h2{
    margin-bottom: 2px;
    font-family: 'Barlow', sans-serif;
    font-size: 19px;
}

p{
    margin-bottom: 3px;
    font-size: 22px;
}