body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer {
    flex: 0 0 50px;
    margin-top: auto;
}

.center-button {
    margin-right: 10px;
}

button{
    background-color: #0C403D;
    font-family:'Barlow', sans-serif; 
    font-size: 19px;
    color: #EDEDED;
    padding: 1% 6% 1% 6%;
    margin: 2px;
}
button:hover{
    padding: 2% 7% 2% 7%;
}