html,
body {
    margin: 0;
    height: 100%;
    width: 100%;
}

header {
    background-color: #F5982B;
}

header img {
    width: 60px;
}

footer {
    position: relative;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.69);
    font-size: 20px;
    bottom: 0;
}

footer img {
    width: 40px;
}

section img {
    width: 150px;
    height: 150px;
}

section>h3 {
    font-weight: bold;
}

section>article {
    background-color: rgb(196, 196, 196);
}

article img {
    width: 100px;
}

article button {
    background-color: #D9AF5D;
}

article textarea {
    resize: none;
}

article button a {
    font-weight: bold;
}

body>main>div>div>div>img:nth-child(1) {
    right: 0;
}

p {
    font-family: serif;
}

.visualize {
    background-color: #D9AF5D;
    border-color: #D9AF5D;
}

.visualize:hover {
    background-color: #D9AF5D;
    border-color: #D9AF5D;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer {
    flex: 0 0 50px;
    /*or just height:50px;*/
    margin-top: auto;
}